.theme-icon,
.fa-shopping-cart {
    font-size: 1.5rem;
    transform: translateY(0.05rem);
}
.fa-bars {
    transform: translateY(0.15rem);
}
div.megamenu {
    border-radius: 0 0 0.5rem 0.5rem;
    z-index: 1000;
}
nav a.active {
    text-decoration: underline;
  }