<div class="container jumbotron text-center text-white rounded-3 mt-3 mb-5 p-5"
    style="background-image: url(victor-freitas-vqDAUejnwKw-unsplash.png);">
    <i class="fas fa-dumbbell"></i>
    <h1>Bringe deinen Körper auf das nächste Level mit <span class="fw-bold">Core<span
                class="highlight">Strength</span></span></h1>
    <p class="col-lg-8 mx-auto fs-5">
        Entdecke unsere Premium-Auswahl an Fitness-Supplements. Mit hochwertigen
        Zutaten und maßgeschneiderten Produkten für jede Trainingsphase unterstützen wir dich auf deinem Weg zu mehr
        Stärke, Ausdauer und Erfolg.
    </p>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="#product-preview" class="btn btn-primary btn-lg px-4 gap-3">Jetzt Shoppen
            <i class="fa fa-arrow-right ms-2" aria-hidden="true"></i></a>
        <button type="button" class="btn btn-outline-secondary btn-lg text-white px-4" routerLink="/about"
            (click)="scrollService.scrollToTop()">Mehr erfahren</button>
    </div>
</div>