.jumbotron {
    background-position: center;
    background-size: cover;

    .fa-dumbbell {
        font-size: 5rem;
    }
}

@media screen and (max-width: 576px) {
    .jumbotron {
        .fa-dumbbell {
            font-size: 3rem;
        }
    }
}