<section>
  <h2 class="visually-hidden">Das zeichnet uns aus</h2>
  <div class="feature container my-5 py-2">
    <div class="row g-3">
      <div class="col-lg-4">
        <div class="text-center p-3 h-100">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <i class="fa fa-truck text-warning" style="font-size: 4rem;"></i>
          </div>
          <h2 class="fw-normal">Kostenlose Lieferung</h2>
          <p class="text-muted mx-auto">Profitiere von unserer kostenlosen Lieferung ab 50€. Schnelle und
            zuverlässige Zustellung direkt zu dir nach Hause.</p>
          <a href="#product-preview" class="btn btn-primary">Mehr erfahren</a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="text-center p-3 h-100">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <i class="fa fa-check-circle text-success" style="font-size: 4rem;"></i>
          </div>
          <h2 class="fw-normal">Hochwertige Produkte</h2>
          <p class="text-muted mx-auto">Wir bieten nur hochwertige Produkte von vertrauenswürdigen Marken, die für ihre
            Qualität und Effektivität bekannt sind.</p>
          <a href="#product-preview" class="btn btn-primary">Jetzt Shoppen</a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="text-center p-3 h-100">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <i class="fa fa-smile text-secondary" style="font-size: 4rem;"></i>
          </div>
          <h2 class="fw-normal" style="word-break: break-word;">Zufriedenheitsgarantie</h2>
          <p class="text-muted mx-auto">Mit unserer Zufriedenheitsgarantie hast du 30 Tage Zeit, Produkte
            zurückzugeben und eine volle Rückerstattung zu erhalten.</p>
          <a href="#product-preview" class="btn btn-primary">Details zur Garantie</a>
        </div>
      </div>
    </div>
  </div>
</section>